@import '../../node_modules/foundation-sites/dist/css/foundation.min.css';

$space-title: 2.5rem 0;
$title-color: #555;

.page-title {
    margin: $space-title;
    color: $title-color;
}

input[type="search"] {
    box-shadow: none;
}